.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 79.5035em 3131.6em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.arrow-down:before {
      background-position: 0em 0em;
      width: 12.9em;
      height: 12.9em;
  }




  .icon.arrow-left:before {
      background-position: 0em -12.9em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-right:before {
      background-position: 0em -60.7em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-up:before {
      background-position: 0em -108.5em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.big-license:before {
      background-position: 0em -114.9em;
      width: 18.4653em;
      height: 18.4653em;
  }




  .icon.block:before {
      background-position: 0em -133.4em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.book:before {
      background-position: 0em -184.6em;
      width: 33.507999999999996em;
      height: 33.5079em;
  }




  .icon.book-study:before {
      background-position: 0em -218.2em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.books:before {
      background-position: 0em -269.4em;
      width: 51.2001em;
      height: 51.2001em;
  }




  .icon.books-group:before {
      background-position: 0em -320.7em;
      width: 9.7391em;
      height: 9.7391em;
  }




  .icon.books-stack:before {
      background-position: 0em -330.5em;
      width: 79.5035em;
      height: 79.5035em;
  }




  .icon.business-presentation:before {
      background-position: 0em -410.1em;
      width: 49em;
      height: 49em;
  }




  .icon.calendar:before {
      background-position: 0em -459.1em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.cancel:before {
      background-position: 0em -510.3em;
      width: 47.519999999999996em;
      height: 47.519999999999996em;
  }




  .icon.cancel-finck:before {
      background-position: 0em -557.9em;
      width: 2.19em;
      height: 2.19em;
  }




  .icon.certificate:before {
      background-position: 0em -560.1em;
      width: 48.96em;
      height: 48.96em;
  }




  .icon.checked:before {
      background-position: 0em -609.1em;
      width: 2.6em;
      height: 2.6em;
  }




  .icon.city:before {
      background-position: 0em -611.7em;
      width: 39.2408em;
      height: 39.2408em;
  }




  .icon.classroom:before {
      background-position: 0em -651em;
      width: 51.2001em;
      height: 51.2001em;
  }




  .icon.clock:before {
      background-position: 0em -702.3em;
      width: 5.8153em;
      height: 5.8153em;
  }




  .icon.close:before {
      background-position: 0em -708.2em;
      width: 9.5939em;
      height: 9.5939em;
  }




  .icon.coins:before {
      background-position: 0em -717.8em;
      width: 6em;
      height: 6em;
  }




  .icon.commerce:before {
      background-position: 0em -723.8em;
      width: 20.9281em;
      height: 20.9281em;
  }




  .icon.copyright:before {
      background-position: 0em -744.8em;
      width: 29.523899999999998em;
      height: 29.523899999999998em;
  }




  .icon.credit-card--color:before {
      background-position: 0em -774.4em;
      width: 5.8em;
      height: 5.8em;
  }




  .icon.debt--color:before {
      background-position: 0em -780.2em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.enter-round:before {
      background-position: 0em -831.4em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.enter-think:before {
      background-position: 0em -882.6em;
      width: 61.2em;
      height: 61.2em;
  }




  .icon.exam:before {
      background-position: 0em -943.8em;
      width: 47em;
      height: 47em;
  }




  .icon.exam-list:before {
      background-position: 0em -990.8em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.eye:before {
      background-position: 0em -1042em;
      width: 51.1626em;
      height: 51.1626em;
  }




  .icon.filter:before {
      background-position: 0em -1093.2em;
      width: 24.746000000000002em;
      height: 24.746000000000002em;
  }




  .icon.garbage:before {
      background-position: 0em -1118em;
      width: 5.9em;
      height: 5.9em;
  }




  .icon.graphic-tool:before {
      background-position: 0em -1123.9em;
      width: 51.2001em;
      height: 51.2001em;
  }




  .icon.heart:before {
      background-position: 0em -1175.2em;
      width: 47.170100000000005em;
      height: 47.170100000000005em;
  }




  .icon.home:before {
      background-position: 0em -1222.4em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.home-fill:before {
      background-position: 0em -1225.7em;
      width: 49.5398em;
      height: 49.5398em;
  }




  .icon.house:before {
      background-position: 0em -1275.3em;
      width: 6em;
      height: 6em;
  }




  .icon.interface:before {
      background-position: 0em -1281.3em;
      width: 49.04em;
      height: 49.04em;
  }




  .icon.interview:before {
      background-position: 0em -1330.4em;
      width: 49.6941em;
      height: 49.6941em;
  }




  .icon.ipad:before {
      background-position: 0em -1380.1em;
      width: 3.3994em;
      height: 3.3994em;
  }




  .icon.like:before {
      background-position: 0em -1383.5em;
      width: 49.019999999999996em;
      height: 49.019999999999996em;
  }




  .icon.login:before {
      background-position: 0em -1432.6em;
      width: 9.5667em;
      height: 9.5667em;
  }




  .icon.login-key:before {
      background-position: 0em -1442.2em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.logout:before {
      background-position: 0em -1493.4em;
      width: 51.202099999999994em;
      height: 51.202099999999994em;
  }




  .icon.magnifying-glass:before {
      background-position: 0em -1544.7em;
      width: 45.1em;
      height: 45.1em;
  }




  .icon.mail:before {
      background-position: 0em -1589.8em;
      width: 48.33em;
      height: 48.33em;
  }




  .icon.map:before {
      background-position: 0em -1638.2em;
      width: 5.5017000000000005em;
      height: 5.5017000000000005em;
  }




  .icon.meeting:before {
      background-position: 0em -1643.8em;
      width: 51.200199999999995em;
      height: 51.200199999999995em;
  }




  .icon.menu:before {
      background-position: 0em -1695.1em;
      width: 45.9em;
      height: 45.9em;
  }




  .icon.microscope:before {
      background-position: 0em -1741em;
      width: 47em;
      height: 47em;
  }




  .icon.money:before {
      background-position: 0em -1788em;
      width: 48.1em;
      height: 48.1em;
  }




  .icon.more:before {
      background-position: 0em -1836.1em;
      width: 6em;
      height: 6em;
  }




  .icon.news:before {
      background-position: 0em -1842.1em;
      width: 54.31849999999999em;
      height: 54.31849999999999em;
  }




  .icon.news-message:before {
      background-position: 0em -1896.5em;
      width: 6.466800000000001em;
      height: 6.466800000000001em;
  }




  .icon.newspaper:before {
      background-position: 0em -1903em;
      width: 48em;
      height: 48em;
  }




  .icon.notebook:before {
      background-position: 0em -1951em;
      width: 6em;
      height: 6em;
  }




  .icon.notebook-pen:before {
      background-position: 0em -1957em;
      width: 6em;
      height: 6em;
  }




  .icon.open-book:before {
      background-position: 0em -1963em;
      width: 51.2004em;
      height: 51.2004em;
  }




  .icon.pesent:before {
      background-position: 0em -2014.3em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.phone-call:before {
      background-position: 0em -2065.5em;
      width: 47.3806em;
      height: 47.3806em;
  }




  .icon.placeholder:before {
      background-position: 0em -2112.9em;
      width: 47.7em;
      height: 47.7em;
  }




  .icon.prize:before {
      background-position: 0em -2160.6em;
      width: 30.2262em;
      height: 30.2262em;
  }




  .icon.project:before {
      background-position: 0em -2190.9em;
      width: 51.2001em;
      height: 51.2001em;
  }




  .icon.projector-screen:before {
      background-position: 0em -2242.2em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.report:before {
      background-position: 0em -2293.4em;
      width: 6em;
      height: 6em;
  }




  .icon.share:before {
      background-position: 0em -2299.4em;
      width: 48.160000000000004em;
      height: 48.160000000000004em;
  }




  .icon.signs:before {
      background-position: 0em -2347.6em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.sketch:before {
      background-position: 0em -2398.8em;
      width: 51.1999em;
      height: 51.1999em;
  }




  .icon.soc-facebook:before {
      background-position: 0em -2450em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-google:before {
      background-position: 0em -2501.2em;
      width: 9.6669em;
      height: 9.6669em;
  }




  .icon.soc-in:before {
      background-position: 0em -2510.9em;
      width: 43.011700000000005em;
      height: 43.011700000000005em;
  }




  .icon.soc-instagram:before {
      background-position: 0em -2554em;
      width: 43.8536em;
      height: 43.8536em;
  }




  .icon.soc-ok:before {
      background-position: 0em -2597.9em;
      width: 9.5481em;
      height: 9.5481em;
  }




  .icon.soc-twitter:before {
      background-position: 0em -2607.5em;
      width: 41.015499999999996em;
      height: 41.015499999999996em;
  }




  .icon.soc-vk:before {
      background-position: 0em -2648.6em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-youtube:before {
      background-position: 0em -2699.8em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.speaker:before {
      background-position: 0em -2706.2em;
      width: 5.2026em;
      height: 5.2026em;
  }




  .icon.star:before {
      background-position: 0em -2711.5em;
      width: 5.386699999999999em;
      height: 5.386699999999999em;
  }




  .icon.study:before {
      background-position: 0em -2716.9em;
      width: 51.2001em;
      height: 51.2001em;
  }




  .icon.success:before {
      background-position: 0em -2768.2em;
      width: 5.2em;
      height: 5.2em;
  }




  .icon.tag:before {
      background-position: 0em -2773.4em;
      width: 49.088499999999996em;
      height: 49.088499999999996em;
  }




  .icon.teamwork:before {
      background-position: 0em -2822.5em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.television:before {
      background-position: 0em -2873.7em;
      width: 6em;
      height: 6em;
  }




  .icon.translation:before {
      background-position: 0em -2879.7em;
      width: 47em;
      height: 47em;
  }




  .icon.user:before {
      background-position: 0em -2926.7em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.video-camera:before {
      background-position: 0em -2977.9em;
      width: 51.2001em;
      height: 51.2001em;
  }




  .icon.winner--color:before {
      background-position: 0em -3029.2em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.youtube:before {
      background-position: 0em -3080.4em;
      width: 51.2em;
      height: 51.2em;
  }





