//$windowSize = (xl lg md sm)
$windowSize = ("xl" 1280),\
							("lg" 1024),\
							("md" 768),\
							("sm" 640)

//Extends size
$listExtend = (0),\
							(4),\
							(8),\
							(10),\
							(12),\
							(16),\
							(24 16),\
							(32 24),\
							(48 32 24),\
							(64 48 24),\
							(80 64 32),\
							(100 68 36)

//padding percent
$paddingPercent = (4 8 12 16 20 24 32)

//Grid gap size
$gridGap = (4 8 12 16 20 24 32)

$listType = ("xs" 12 10),\
						("sm" 14 12),\
						("main" 16 14),\
						("md" 18 16),\
						("mdx" 24 20),\
						("lg" 28 24),\
						("lgx" 38 28),\
						("xl" 52 44)

$listTypeSimple = (10 12 14 16 18 20 24 28 32 44 64)

//Icon size
$listIcon = ("xs" 12),\
						("sm" 16),\
						("md" 20),\
						("mdx" 24),\
						("lg" 32),\
						("lgx" 44),\
						("xl" 64),\
						("xxl" 100),\

//Border radius
$listBr = (4 8 12 16 20 24 32 44 64)

//Font weight
$listFw = (300 400 500 600 700 900)

//width-max container size
$listWmax = (500 545 640 820 1320)

//width-min container size
$listWmin = (180 300)

//z-index
$listZindex = (10 20 30 40 50 100 500 1000 1100)

//positions
$position = (top right bottom left)

//positionsValue
$positionVal = (0 5 10 20 40)

//opacityVal
$opacityVal = (1 2 3 4 5 6 7 8 9 10)

//color
//$blue = $mark = #0028e5
//$blue = $mark = #3E51AB
//$blue = $mark = #0021bd
$markCalc = #0d4cd3

:root
	--mark $markCalc
$blue = $mark = var(--mark)
$navy = #20369F
$mark-dark = #2136AD
$mark-simple = #f3f5f9
$blue-light = $mark-light = #1F6ED4
$blue-bright = $mark-bright = #002cff
$sky = #39BAE8
$sky-light = #B9EDF8
$red = #f20022

$text-gray = #979797
$yellow = #ffd312
$green = #56955a
$linkColor = #5a5a5a

$gray = #f9f9f9
$grayPrimary = #565762
$grayLight = #c4c5cc
$graySnow = #f1f2f6

$white = white
$black = black
$violet = $purpure = #6b33b2
$orange = #ff7b27
$blue = #0065bd
$red = #ff4f4f
$coralLight = #fff0f0
$brownLight = #F6F4F1
$brown = #F2EADE

//TYPOGRAPHY COLORS
$typeMain = #3e3e3e
$typePrimary = #5c5e6e
$typeSecondary = #9699a8
$typeDisable = #c8cad4

//UI COLORS
$borderHover = #bfc0c9
$fieldBackground = #f1f2f6
$border = $border-color = #f3f3f3
$overlay = rgba(32, 34, 44, 0.5)

//STATE COLORS
$stateErrorBG = #ffe1e6
$stateError = #d00025

$stateSuccessBG = #edfdd9
$stateSuccess = #5da600

$stateWarningBG = #ffedd8
$stateWarning = #ff8a00

$colors = {
	'mark':$markCalc,
	'green':$green,
	'white':$white,
	'black':$black,
	'grayPrimary':$grayPrimary,
	'gray':$gray,
	'grayLight':$grayLight,
	'graySnow':$graySnow,
	'violet':$violet,
	'orange':$orange,
	'yellow':$yellow,
	'blue':$blue,
	'red':$red,
	'brown':$brown,
	'brownLight':$brownLight,
	'typePrimary':$typePrimary,
	'typeSecondary':$typeSecondary,
	'typeDisable':$typeDisable,
	'stateErrorBG':$stateErrorBG,
	'stateError':$stateError,
	'stateSuccessBG':$stateSuccessBG,
	'stateSuccess':$stateSuccess,
	'stateWarningBG':$stateWarningBG,
	'stateWarning':$stateWarning,
	'fieldBackground':$fieldBackground,
	'border':$border-color,
}
