// === Inputs ===
.input,.textarea,.select
	padding 15px 20px
	border 1px solid #dedede
	resize: none
	outline: 0 !important
	border-radius 5px
	display block!important
	placeholder(red)
	background: white
	tr(all)
	&:focus
		border 1px solid $mark
		outline none!important

.style-label
	display flex
	position relative
	align-items center

.check-el
	input
		position absolute
		top 0
		left -9999px
	.sytle-input-element
		width 24px
		height 24px
		position relative
		display inline-block
		margin-right 10px
		background white
		border 1px solid #cfcfcf
		cp()
		tr()
		border-radius 5px
		&:hover
			border 1px solid #8d8d8d
	.icon-check
		display none
	.sytle-input
		&:checked ~ .sytle-input-element
			flex(mid)
			color white
			background: $mark
			border 1px solid $mark
			.icon-check
				display block
				fill white
				size 16px

.style-label--radio
	input
		position absolute
		top 0
		left -9999px
	.sytle-input-element
		width 22px
		height 22px
		position relative
		display inline-block
		margin-right 10px
		background white
		border 1px solid #cfcfcf
		round()
		cp()
	.icon-check
		display none
	.sytle-input
		&:checked + .sytle-input-element
			flex(mid)
			color white
			background: white
			border 1px solid #cfcfcf
			.icon-radio
				round()
				size 14px
				background black

// calc border size
for $listBrItem in $listBr
	.br-{$listBrItem}
		border-radius $listBrItem px

.br-round
	border-radius 50%

.bor
	border-width 1px
	border-style solid

.bor-t
	border-top-width 1px
	border-right-width 0
	border-bottom-width 0
	border-left-width 0
	border-style solid

.bor-b
	border-top-width 0
	border-right-width 0
	border-bottom-width 1px
	border-left-width 0
	border-style solid

.bor-b-dashed
	border-top-width 0
	border-right-width 0
	border-bottom-width 1px
	border-left-width 0
	border-style dashed

.bor-r
	border-top-width 0
	border-right-width 1px
	border-bottom-width 0
	border-left-width 0
	border-style solid

// calc border size === end


// switch
.switch
	position relative
	background: $gray
	height: 34px
	min-width: 62px
	width: 62px
	br(18px)
	cp()
	&:before
		content ''
		tr()
		size 24px
		round()
		background: white
		position absolute
		left 6px
		top 4.5px
	&.active
		background: $stateSuccess
		&:before
			content ''
			size 24px
			round()
			background: white
			position absolute
			left calc(100% - 30px)
// switch === end