@import 'rupture'
@import "variable/_function.styl"
@import "variable/_fonts.styl"
@import "variable/_ie.styl"
@import "icon/sprite.css"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/_elements.styl"
@import "variable/_constant.styl"
@import "../module/**/*"

body
	@extend .type--main
	font-family $v-font
	color $main-text-color
	line-height 1.2
	letter-spacing 0.01em

.main-cont
	center(1200px,10px)

//.header
//.main-cont
.header-top
	padding: 10px 0
	flex(between)
.header-top__logo
	@extend .type--xl
	color black
	font-family:'PT Sans'

//font-family:Roboto
.header-top__search
	width: 50%
	input
		&:hover
			border 1px solid lighten($blue,20)
		width: 100%
.header-top__nav
	f()
	align-items: center
.header-top__nav-lk
	&:hover
		.icon
			fill $red
	cp()
	padding: 10px 20px
	border-left 1px solid $border-color
	border-right 1px solid $border-color
	.icon
		tr(all)
		size 25px
		fill $blue
//.icon
.header-top__nav-cource
	&:hover
		.icon
			fill $red
	cp()
	padding: 10px 20px
	border-left 1px solid $border-color
	border-right 1px solid $border-color
	margin-left: -1px
	.icon
		tr(all)
		size 30px
		fill $blue
.header-top__nav-phone
	@extend .type--md
	font-weight:700
	color black
	margin-left: 20px
.header-nav-wrap
	//background: #000
	background: $blue
.header-nav
	color white
	f()
.header-nav__el
	flex(mid)
	tr(all)
	padding: 15px 20px
	border-left 1px solid #ffffff0f
	border-right 1px solid #ffffff0f
	margin-left: -1px
	position: relative
	&:hover
		background: lighten($blue,5)
	.icon
		size 20px
		fill white
	&:hover
		.header-nav-sub
			display: block
		.content-filter
			opacity 1
			left 0
.header-nav__el-text
	f()
	align-items: center
	color white!important
	font-family:Museo

.icon-nav-menu
	margin-right: 20px
.header-nav-sub
	display: none
	position: absolute
	top 100%
	left 0
	background: white
	width: 300px
	z-index 3
.header-nav-sub__el
	padding: 15px
	color black
	border-bottom 1px solid $border-color
	flex(between)
	cp()
	font-family:Museo
	font-weight:700
	font-size: 13px
	&:hover
		& >.header-nav-sub-two
			display: block
	.icon
		size 10px
		fill #818181
.content
	position: relative
	//background: #EDEDED
.content-filter
	position: absolute
	width: 100%
	height: 100%
	z-index 2
	background: rgba(0, 0, 0, 0.3)
	opacity:0
	left -9999px

.content-filter--show
	display: none


.header-nav-sub-wrap
	position: relative
.header-nav-sub-two
	position: absolute
	left: 100%
	top 0
	height: 100%
	width: 300px
	display: none
	background: white
	z-index 3

.header-nav-sub__el-two
	padding: 15px
	color black
	border-bottom 1px solid $border-color
	cp()
	text-overflow: ellipsis
	overflow: hidden
	white-space: nowrap
	.icon
		display: none
		size 10px
		fill #818181

.banner
	flex(between)
	align-items: stretch
.banner__el
	bg-full()
	height: auto
	//width: 73%
	padding: 15% 10%
	width: 75%
	//background-position: top center
	//background-size: contain
.banner-nav
	width: 25%
	.header-nav-sub-wrap
		background: white
.banner-item
	width: 25%
	padding: 30px 20px 70px 20px
	f()
	fl()
	background: $gray
.banner-item__code
	font-size: 36px
	color black
	font-weight:900
	font-family:Museo
	margin-bottom: 10px
.banner-item__sub-title
	margin-bottom: 10px
.banner-item__title
	@extend .type--md
	font-weight:bold
	color black
	margin-bottom: 30px

.banner-item__info
	margin-bottom: 30px
	color black
	line-height: 1.6

.banner-item-footer
	flex(between)
	margin-top: auto
.banner-item__price
	@extend .type--lxg
	color black

//.banner-item__date
.banner-item__get
	@extend .btn--md
	@extend .btn--mark
	cp()
	padding: 15px 30px
	font-size: 12px

.section
	margin: 100px 0
	position: relative
.section-title
	@extend .type--xl
	padding-bottom: 30px
	border-bottom 1px solid $gray
	margin-bottom: 40px
	color black
	line-height: 1

.popular__el
	//border 1px solid $border-color
	padding: 30px 30px 50px 30px
	f()
	fl()
	margin-left: -1px
	background: $gray
	margin-top: -1px
	br(5px)

.popular__el__code
	@extend .type--lg
	color $blue
	margin-bottom: 10px

.popular__el__title
	font-size: 16px
	font-weight:bold
	color black
	margin-bottom: 10px
	font-family:Museo

.popular__el__info
	margin-bottom: 30px
	color black
	line-height: 1.6

.popular__el-footer
	f()
	align-items: center
	margin-top: auto
.popular__el__price
	@extend .type--md
	color $blue
	font-weight: 700
	margin-right: 20px
//.banner-item__date
.popular__el__get
	padding: 5px 20px
	border-radius 10px
	font-size: 12px
	background: $purpure
	margin-left: auto
	cp()
	color white
	flex(mid)
	span
		display: inline-block
		margin-right: 5px
		font-weight:700
	.icon
		size 18px
		fill white
.popular
	display: grid
	grid-gap 10px
	grid-template-columns repeat(4,1fr);

.popular__el-title
	margin-bottom: 10px

.star-row
	f()
	margin-bottom: 20px
	.icon
		size 12px
		margin-right: 5px
		fill $purpure

.header-small
	background: $gray
.header-small-wrap
	f()
.header-small-el
	//color black
	font-size: 12px
	margin-right: 30px
	padding: 5px 0
	cp()
	tr(all)
	&:hover
		color black

.cat__el
	padding: 40px 30px
	f()
	fl()
	br(5px)
	cp()
	tr(all)
	margin-left: -1px
	background: $gray
	margin-top: -1px
	position: relative
	&:hover
		box-shadow 0px 8px 10px #c7c3c3
		background: $blue
		border-radius 5px 5px 0 0
		.cat__el__code
			color white
		.cat__el__title
			color white
			opacity .5
		.icon
			fill white
		.cat__el-title
			color white
			opacity .5
		/*.cat__el-sub
			display: block*/
.cat__el--active
	box-shadow 0px 8px 10px #c7c3c3
	background: $blue

	.cat__el__code
		color white
	.cat__el__title
		color white
		opacity:.5
	.icon
		fill white
	.cat__el-title
		color white
		opacity:.5

.cat__el__code
	@extend .type--md
	color $blue
	font-weight:700
	margin-bottom: 10px
.cat__el__title
	font-size: 14px
	color #b6b6b6
	line-height: 1.6

.cat__el__info
	margin-bottom: 80px
	color black
	line-height: 1.6

.cat__el-footer
	f()
	align-items: center
	margin-top: auto

.cat__el__get
	padding: 5px 20px
	border-radius 10px
	font-size: 12px
	background: $purpure
	margin-left: auto
	cp()
	color white
	flex(mid)
	span
		display: inline-block
		margin-right: 5px
		font-weight:700
	.icon
		size 18px
		fill white
.cat
	display: grid
	grid-gap 10px
	grid-template-columns repeat(4,1fr);

.cat__el-title
	font-size: 12px
	//font-weight:bold
	margin-bottom: 20px
	font-family:Museo
	color #3e51abcc
.cat__el-icon
	position: absolute
	top 30px
	right: 30px
	.icon
		size 10px
		fill darken($gray,30)

.cat__el-sub-item
	margin-bottom: 10px
	font-size: 12px
	transition color .4s
	position: relative
	padding-left: 5px
	&:before
		content ''
		size 3px
		round()
		background: lighten($blue,10)
		left: -4px
		position: absolute
		top 6px
	&:hover
		color $blue

.cat__el-sub
	position: absolute
	top 100%
	background: white
	z-index 5
	left 0px
	padding: 30px
	display: none
	border 1px solid $blue
	border-radius 0 0 5px 5px

.section--extend
	padding: 60px 0
.section--white
	background: white

.about
	f()
	justify-content: space-between
.about-info
	width: 45%
.about-info__title
	@extend .type--xl
	font-family:Museo
	margin-bottom: 30px
	color black
	font-weight:700

.about-info__text
	//color $gray
.about-company
	width: 50%
	position: relative
	img
		z-index 2
		position: relative
.about-company-round
	position: absolute
	width: 500px
	height: 500px
	background: #f2f2f2
	border-radius 20px
	left calc(50% - 200px)
	top calc(50% - 250px)
	z-index 1
	//flex(mid)
.advant-img
	width: 50%

.advant
	flex(between)

.advant-list
	width: 45%
	f()
	fl()
	justify-content: center
.advant-list__el
	margin-bottom: 30px
	f()
	align-items: center
.advant-list__el-title
	@extend .type--lxg
	margin-bottom: 10px
	color $blue
.advant-list__el-icon
	size 100px
	round()
	//background: #f2f2f2
	flex(mid)
	margin-right: 30px
	box-shadow 0 1px 10px #d5d4d4
	.icon
		size 40px
		fill $blue
.advant-list__el-text
	max-width 300px
	line-height: 1.6
	color #979797

.command-el
	f()
	justify-content: center
	tr(all)
	cp()
	padding: 20px 10px
	border-radius 10px
	//background: $gray
	&:hover
		box-shadow 0 1px 10px #d5d4d4
.command-el__img
	size 100px
	round()
	bg-full()
	background-position: center top

.command-el__content
	//box-shadow 0 1px 10px #d5d4d4
	padding: 20px
	width:calc(100% - 120px)

.command-el__title
	@extend .type--md
	margin-bottom: 10px
	font-weight:700
	color $blue

.command-el__staff
	font-family: Museo
	margin-bottom: 20px
.command-el__text
	line-height: 1.6
	font-size: 12px

.slick-slide
	margin: 0 10px

.command-list
	display: grid
	grid-gap 10px
	grid-template-columns repeat(3,1fr);

.news-img
	width: 50%

.news
	flex(between)

.news-list
	width: 48%
	f()
	fl()
	justify-content: center
.news-list__el
	margin-bottom: 30px
	f()
.news-list__el-title
	@extend .type--md
	font-weight: 700
	margin-bottom: 10px
	color $blue

.news-list__el-content
	width: calc(80% - 200px)
	line-height: 1.6
	color #979797
	box-shadow 0 1px 10px #d5d4d4
	border-radius 10px
	padding: 20px 20px 20px 40px
	background: white
.news-list__el-date
	fl()
	background: $purpure
	size 60px
	flex(mid)
	round()
	margin-right: -20px
	margin-top: -20px
	z-index 2

.news-list__el-date-val
	@extend .type--md
	font-weight:bold
	margin-bottom: -5px
	color white

.news-list__el-date-day
	text-align: center
	color white
	opacity .8

.section-title--blue
	color $blue
	border-bottom 1px solid #3e51ab12

.section--category
	margin-top: 30px
	.section-title
		text-align: center

@keyframes slideInDown
	from
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	to
		transform: translate3d(0, 0, 0);


.shrink
	position fixed
	top 0
	left 0
	width 100%
	margin 0
	animation:  slideInDown  1s 1 ease-in-out;
	z-index 10
	.header-nav__el
		padding: 10px 20px

.content__main
	f()
	justify-content: space-between
	margin-top: 30px
.toolbar
	width: 25%
.toolbar__el
	br(10px)
	margin-bottom: 30px
	background: white
	box-shadow 0 5px 10px #f1f1f1
.content__info
	width: 73%
.content__info-wrap
	padding: 30px
	background: white
	br(10px)
.toolbar__title
	padding: 15px
	@extend .type--md
	font-weight: bold
	color black
	f()
	.icon
		size 20px
		fill $blue
		margin-right: 10px
.toolbar__list-el
	border-bottom 1px solid #3e51ab0f
	line-height: 1.4
	padding: 10px 15px
	font-family:Museo
	font-size: 12px
	font-weight:700
	color black
	/*&:last-child
		border-bottom 0*/
.content__info-title
	@extend .type--lg
	color black
	margin-bottom: 30px

.content--gray
	background: $gray

.toolbar__list-more
	flex(between)
	color $blue
	font-weight bold
	padding: 15px
	cp()
	.icon
		size 12px
		fill $blue
		margin-right: 10px

.panel
	//padding: 20px
	background: white
	box-shadow 0 5px 10px #f1f1f1
	margin-bottom: 20px
	f()
	border-radius 40px
	align-items: center
	overflow: hidden
.panel__day
	f()
	align-items: center
	padding: 0 20px 0 40px
	border-right 1px solid $border-color
.panel__info
	margin-right: 10px
.panel__day-val
	@extend .type--lxg
	color black
.panel__price
	padding: 0 20px
	border-right 1px solid $border-color
	f()
	align-items: center
	margin-right: 30px
.panel__price-val
	@extend .type--lxg
	color black
.panel__date
	f()
	align-items: center
//.panel__date-val
.panel__get
	margin-left: auto
	background: $yellow
	padding: 25px 40px
	font-weight: bold
	color black
	//font-family: Museo
