@font-face {
  font-family: 'Comfortaa';
  src: url("../fonts/Comfortaa.woff2") format('woff2'), url("../fonts/Comfortaa.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Museo';
  src: url("../fonts/MuseoSansCyrl-700.woff2") format('woff2'), url("../fonts/MuseoSansCyrl-700.woff") format('woff');
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: 'Museo';
  src: url("../fonts/MuseoSansCyrl-300.woff2") format('woff2'), url("../fonts/MuseoSansCyrl-300.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}
.clear {
  clear: both;
}
.align-image-center {
  text-align: center;
}
.fluid-image {
  max-width: 100%;
  height: auto;
  display: block;
}
.type--up {
  text-transform: uppercase;
}
.type--italy {
  font-style: italic;
}
.type--center {
  text-align: center;
}
.type--left {
  text-align: left;
}
.type--right {
  text-align: right;
}
.disabled,
.btn--disable,
.style-label--disable {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}
.hidden {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.all-page__el {
  width: 32%;
  padding: 5px;
  -webkit-box-shadow: 0px 3px 8px #e3e3e3;
          box-shadow: 0px 3px 8px #e3e3e3;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .all-page__el {
    width: 100%;
    margin-bottom: 20px;
  }
}
.all-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.elements-hr {
  margin: 40px 0;
  display: block;
  height: 1px;
  border-bottom: 1px solid #d1d1d1;
}
.all-page__title {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: #000;
}
.old-browser {
  background: #808080;
  width: 100%;
  height: 100vh;
  padding-top: 200px;
}
.all-page-color {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.all-page-color__el {
  margin: 20px;
}
.all-page-color__block {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  margin-bottom: 10px;
}
.all-page-color__el-name {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
.old-browser-text {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.element-list-svg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.element-list-svg__icon {
  width: 12%;
  margin: 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
}
.element-list-svg__icon .icon-el {
  margin-bottom: 10px;
  width: 25px;
  height: 25px;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.shrink {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  margin: 0;
  -webkit-animation: slideInDown 1s 1 ease-in-out;
          animation: slideInDown 1s 1 ease-in-out;
}
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
a {
  text-decoration: none;
  color: $link-color;
}
a:hover {
  text-decoration: none;
  color: $link-color-hover;
}
.type--bold {
  font-weight: $weigh-bold;
}
img,
iframe {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: block;
}
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 18px;
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
table th,
table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
table th {
  font-weight: bold;
}
table thead th {
  vertical-align: bottom;
}
table thead:first-child tr th,
table thead:first-child tr td {
  border-top: 0;
}
table tbody + tbody {
  border-top: 2px solid #ddd;
}
table th + th,
table td + td,
table th + td,
table td + th {
  border-left: 1px solid #ddd;
}
table thead:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child td {
  border-top: 0;
}
table thead:first-child tr:first-child th:first-child,
table tbody:first-child tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
          border-radius: 4px 0 0 0;
}
table thead:first-child tr:first-child th:last-child,
table tbody:first-child tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
          border-radius: 0 4px 0 0;
}
table thead:last-child tr:last-child th:first-child,
table tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
          border-radius: 0 0 0 4px;
}
table thead:last-child tr:last-child th:last-child,
table tbody:last-child tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
          border-radius: 0 0 4px 0;
}
table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
table tbody tr:hover td,
table tbody tr:hover th {
  background-color: #f5f5f5;
}
body > svg {
  display: none;
}
.small-only {
  display: none;
}
@media only screen and (max-width: 768px) {
  .small-only {
    display: table;
  }
}
@media only screen and (max-width: 768px) {
  .large-only {
    display: none;
  }
}
.rub {
  font-family: 'RUB';
  font-style: normal;
}
@font-face {
  font-family: 'RUB';
  src: url("../fonts/rouble-webfont.eot");
  src: url("../fonts/rouble-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/rouble-webfont.woff") format('woff'), url("../fonts/rouble-webfont.ttf") format('truetype'), url("../fonts/rouble-webfont.svg#RUB") format('svg');
  font-weight: 'normal';
  font-style: normal;
}
.type--xs,
h5 {
  font-size: 8px;
}
@media only screen and (max-width: 768px) {
  .type--xs,
  h5 {
    font-size: 8px;
  }
}
.type--sm,
h4 {
  font-size: 12px;
}
@media only screen and (max-width: 768px) {
  .type--sm,
  h4 {
    font-size: 10px;
  }
}
.type--main,
h3,
body {
  font-size: 14px;
}
@media only screen and (max-width: 768px) {
  .type--main,
  h3,
  body {
    font-size: 12px;
  }
}
.type--mxd,
p,
ul li {
  font-size: 16px;
}
@media only screen and (max-width: 768px) {
  .type--mxd,
  p,
  ul li {
    font-size: 14px;
  }
}
.type--md,
.header-top__nav-phone,
.banner-item__title,
.popular__el__price,
.cat__el__code,
.command-el__title,
.news-list__el-title,
.news-list__el-date-val,
.toolbar__title,
.course-treners__name {
  font-size: 18px;
  font-family: Museo;
}
@media only screen and (max-width: 768px) {
  .type--md,
  .header-top__nav-phone,
  .banner-item__title,
  .popular__el__price,
  .cat__el__code,
  .command-el__title,
  .news-list__el-title,
  .news-list__el-date-val,
  .toolbar__title,
  .course-treners__name {
    font-size: 15px;
  }
}
.type--lxg,
.banner-item__price,
.advant-list__el-title,
.panel__day-val,
.panel__price-val {
  font-size: 24px;
  font-weight: bold;
  font-family: Museo;
}
@media only screen and (max-width: 768px) {
  .type--lxg,
  .banner-item__price,
  .advant-list__el-title,
  .panel__day-val,
  .panel__price-val {
    font-size: 16px;
  }
}
.type--lg,
h2,
.popular__el__code,
.content__info-title {
  font-size: 28px;
  font-weight: bold;
  font-family: Museo;
}
@media only screen and (max-width: 768px) {
  .type--lg,
  h2,
  .popular__el__code,
  .content__info-title {
    font-size: 18px;
  }
}
.type--xl,
h1,
.header-top__logo,
.section-title,
.about-info__title {
  font-size: 32px;
  font-weight: bold;
  font-family: Museo;
}
@media only screen and (max-width: 768px) {
  .type--xl,
  h1,
  .header-top__logo,
  .section-title,
  .about-info__title {
    font-size: 22px;
  }
}
.type--bold {
  font-weight: bold;
}
h1 {
  color: #111;
}
h2 {
  color: #111;
}
h3 {
  color: #111;
}
h4 {
  color: #111;
}
h5 {
  color: #111;
}
a {
  -webkit-transition: color 0.6s;
          transition: color 0.6s;
  color: #5a5a5a;
}
a:hover {
  color: #111;
}
a:visiter {
  color: #111;
}
p {
  line-height: 1.6;
  padding-top: 0;
  margin-top: 0;
}
ul li {
  line-height: 1.6;
  margin-bottom: 5px;
}
.link--mark {
  position: relative;
  display: inline-block;
  color: #3e51ab;
  text-decoration: underline;
}
.link--mark:after {
  content: "";
  display: block;
  width: 0px;
  height: #3e51ab;
  background: '1px';
  -webkit-transition: width 0.3s;
          transition: width 0.3s;
}
.link--mark:hover:after {
  width: 100%;
}
.link--mark:hover {
  color: #00629a;
}
.link--mark:visiter {
  color: #00629a;
}
.link--main {
  color: #5a5a5a;
}
.link--main:hover {
  color: #111;
}
.link--main:visiter {
  color: #111;
}
.link--text {
  color: #3e51ab;
  text-decoration: underline;
}
.link--text:hover {
  text-decoration: none;
}
.btn,
.btn--sm,
.btn--md,
.btn--lg,
.btn--mobile,
.btn--mark,
.btn--light,
.btn--grey,
.btn--dotted,
.btn--white,
.banner-item__get {
  text-transform: uppercase;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  display: inline-block;
  background: none;
  border: 0px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  color: #111;
  text-align: center;
}
.btn:hover,
.btn--sm:hover,
.btn--md:hover,
.btn--lg:hover,
.btn--mobile:hover,
.btn--mark:hover,
.btn--light:hover,
.btn--grey:hover,
.btn--dotted:hover,
.btn--white:hover,
.banner-item__get:hover {
  cursor: pointer;
}
.btn--sm {
  font-size: 10px;
  padding: 5px 10px;
}
.btn--sm .nav-icon {
  width: 10px;
  height: 10px;
}
.btn--md,
.banner-item__get {
  font-size: 15px;
  padding: 15px 50px;
}
.btn--lg {
  font-size: 20px;
  padding: 10px 30px;
}
@media only screen and (max-width: 768px) {
  .btn--mobile {
    width: 100%;
    text-align: center;
  }
}
.btn--mark,
.banner-item__get {
  color: #fff;
  background: #3e51ab;
}
.btn--mark .nav-icon,
.banner-item__get .nav-icon {
  fill: #fff;
}
.btn--mark:hover,
.banner-item__get:hover {
  background-color: #f20022;
  color: #fff;
  -webkit-box-shadow: 0 9px 18px rgba(242,0,34,0.6);
          box-shadow: 0 9px 18px rgba(242,0,34,0.6);
}
.btn--mark:active,
.banner-item__get:active {
  background-color: #f20022;
  outline: 0 !important;
}
.btn--mark input[type="submit"],
.banner-item__get input[type="submit"] {
  border: 0;
}
.btn--mark .nav-icon,
.banner-item__get .nav-icon {
  fill: #fff;
}
.btn--disable {
  border: 1px solid #dfdfdf;
  background-color: #fff;
  color: #000;
}
.btn--light {
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.21);
          box-shadow: 0 1px 2px rgba(0,0,0,0.21);
  border: 1px solid #e9e9e9;
  background-color: #fff;
}
.btn--light:hover {
  -webkit-box-shadow: 0 5px 7px rgba(0,0,0,0.09);
          box-shadow: 0 5px 7px rgba(0,0,0,0.09);
  border: 1px solid #e9e9e9;
  background-color: #fff;
}
.btn--light .nav-icon {
  fill: #111;
}
.btn--grey {
  border: 1px solid #ddd;
  background-color: #fff;
}
.btn--dotted {
  border: 1px dashed #d7d7d7;
  background-color: #fff;
  text-align: center;
}
.btn--white {
  border: 1px solid rgba(255,255,255,0.9);
  color: rgba(255,255,255,0.9);
}
.btn--white .nav-icon {
  fill: rgba(255,255,255,0.9);
}
.btn--icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 10px;
}
.btn--hover {
  -webkit-transform: perspective(100px) translateZ(0);
          transform: perspective(100px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
          transition-property: color;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}
.btn--hover:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #aaa;
  -webkit-border-radius: 10%;
          border-radius: 10%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition-property: -webkit-transform;
          transition-property: transform;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.btn--hover:hover,
.btn--hover:focus,
.btn--hover:active {
  color: #fff;
}
.btn--hover:hover:before {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
}
.btn--hover:focus:before {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
}
.btn--hover:active:before {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
}
button {
  font-family: 'PT Sans', sans-serif;
}
.input,
.textarea,
.select {
  border: 0px;
  padding: 15px 20px;
  border: 1px solid #dedede;
  resize: none;
  outline: 0 !important;
  -webkit-border-radius: 0px;
          border-radius: 0px;
  font-family: 'PT Sans', sans-serif;
  display: block !important;
  background: #fff;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
}
.input input::-webkit-input-placeholder,
.textarea input::-webkit-input-placeholder,
.select input::-webkit-input-placeholder {
  color: #888;
}
.input input::-moz-placeholder,
.textarea input::-moz-placeholder,
.select input::-moz-placeholder {
  color: #888;
}
.input input:-moz-placeholder,
.textarea input:-moz-placeholder,
.select input:-moz-placeholder {
  color: #888;
}
.input input:-ms-input-placeholder,
.textarea input:-ms-input-placeholder,
.select input:-ms-input-placeholder {
  color: #888;
}
.input:focus,
.textarea:focus,
.select:focus {
  outline: none !important;
}
.style-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.check-el input {
  position: absolute;
  top: 0;
  left: -9999px;
}
.check-el .sytle-input-element {
  width: 24px;
  height: 24px;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background: #fff;
  border: 1px solid #cfcfcf;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
}
.check-el .sytle-input-element:hover {
  cursor: pointer;
}
.check-el .sytle-input-element:hover {
  border: 1px solid #8d8d8d;
}
.check-el .icon-check {
  display: none;
}
.check-el .sytle-input:checked ~ .sytle-input-element {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: #111;
  border: 1px solid #111;
}
.check-el .sytle-input:checked ~ .sytle-input-element .icon-check {
  display: block;
  fill: #fff;
  width: 16px;
  height: 16px;
}
.style-label--radio input {
  position: absolute;
  top: 0;
  left: -9999px;
}
.style-label--radio .sytle-input-element {
  width: 22px;
  height: 22px;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background: #fff;
  border: 1px solid #cfcfcf;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.style-label--radio .sytle-input-element:hover {
  cursor: pointer;
}
.style-label--radio .icon-check {
  display: none;
}
.style-label--radio .sytle-input:checked + .sytle-input-element {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: #fff;
  border: 1px solid #cfcfcf;
}
.style-label--radio .sytle-input:checked + .sytle-input-element .icon-radio {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 14px;
  height: 14px;
  background: #111;
}
/* block footer*/
/*block footer end */
body {
  font-family: 'PT Sans', sans-serif;
  color: #585858;
  line-height: 1.2;
  letter-spacing: 0.01em;
}
.main-cont {
  *zoom: 1;
  width: auto;
  max-width: 1200px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 100%;
  padding: 0 10px;
}
.main-cont:before,
.main-cont:after {
  content: '';
  display: table;
}
.main-cont:after {
  clear: both;
}
@media only screen and (min-width: 1200px) {
  .main-cont {
    width: 1200px;
  }
}
.header-top {
  padding: 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-top__logo {
  color: #111;
  font-family: 'PT Sans';
}
.header-top__search {
  width: 50%;
}
.header-top__search input {
  -webkit-border-radius: 40px;
          border-radius: 40px;
  width: 100%;
}
.header-top__search input:hover {
  border: 1px solid #7f8dd0;
}
.header-top__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-top__nav-lk {
  padding: 10px 20px;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
}
.header-top__nav-lk:hover .icon {
  fill: #f20022;
}
.header-top__nav-lk:hover {
  cursor: pointer;
}
.header-top__nav-lk .icon {
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  width: 25px;
  height: 25px;
  fill: #3e51ab;
}
.header-top__nav-cource {
  padding: 10px 20px;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  margin-left: -1px;
}
.header-top__nav-cource:hover .icon {
  fill: #f20022;
}
.header-top__nav-cource:hover {
  cursor: pointer;
}
.header-top__nav-cource .icon {
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  width: 30px;
  height: 30px;
  fill: #3e51ab;
}
.header-top__nav-phone {
  font-weight: 700;
  color: #111;
  margin-left: 20px;
}
.header-nav-wrap {
  background: #3e51ab;
}
.header-nav {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.header-nav__el {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  padding: 15px 20px;
  border-left: 1px solid rgba(255,255,255,0.059);
  border-right: 1px solid rgba(255,255,255,0.059);
  margin-left: -1px;
  position: relative;
}
.header-nav__el:hover {
  background: #465bbc;
}
.header-nav__el .icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.header-nav__el:hover .header-nav-sub {
  display: block;
}
.header-nav__el:hover .content-filter {
  opacity: 1;
  left: 0;
}
.header-nav__el-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff !important;
  font-family: Museo;
}
.icon-nav-menu {
  margin-right: 20px;
}
.header-nav-sub {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  width: 300px;
  z-index: 3;
}
.header-nav-sub__el {
  padding: 15px;
  color: #111;
  border-bottom: 1px solid #dfdfdf;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Museo;
  font-weight: 700;
  font-size: 13px;
}
.header-nav-sub__el:hover {
  cursor: pointer;
}
.header-nav-sub__el:hover >.header-nav-sub-two {
  display: block;
}
.header-nav-sub__el .icon {
  width: 10px;
  height: 10px;
  fill: #818181;
}
.content {
  position: relative;
}
.content-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0,0,0,0.3);
  opacity: 0;
  left: -9999px;
}
.content-filter--show {
  display: none;
}
.header-nav-sub-wrap {
  position: relative;
}
.header-nav-sub-two {
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 300px;
  display: none;
  background: #fff;
  z-index: 3;
}
.header-nav-sub__el-two {
  padding: 15px;
  color: #111;
  border-bottom: 1px solid #dfdfdf;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.header-nav-sub__el-two:hover {
  cursor: pointer;
}
.header-nav-sub__el-two .icon {
  display: none;
  width: 10px;
  height: 10px;
  fill: #818181;
}
.banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.banner__el {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: auto;
  padding: 15% 10%;
  width: 75%;
}
.banner-nav {
  width: 25%;
}
.banner-nav .header-nav-sub-wrap {
  background: #fff;
}
.banner-item {
  width: 25%;
  padding: 30px 20px 70px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  background: #f9f9f9;
}
.banner-item__code {
  font-size: 36px;
  color: #111;
  font-weight: 900;
  font-family: Museo;
  margin-bottom: 10px;
}
.banner-item__sub-title {
  margin-bottom: 10px;
}
.banner-item__title {
  font-weight: bold;
  color: #111;
  margin-bottom: 30px;
}
.banner-item__info {
  margin-bottom: 30px;
  color: #111;
  line-height: 1.6;
}
.banner-item-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
}
.banner-item__price {
  color: #111;
}
.banner-item__get {
  padding: 15px 30px;
  font-size: 12px;
}
.banner-item__get:hover {
  cursor: pointer;
}
.section {
  margin: 100px 0;
  position: relative;
}
.section-title {
  padding-bottom: 30px;
  border-bottom: 1px solid #f9f9f9;
  margin-bottom: 40px;
  color: #111;
  line-height: 1;
}
.popular__el {
  padding: 30px 30px 50px 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-left: -1px;
  background: #f9f9f9;
  margin-top: -1px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.popular__el__code {
  color: #3e51ab;
  margin-bottom: 10px;
}
.popular__el__title {
  font-size: 16px;
  font-weight: bold;
  color: #111;
  margin-bottom: 10px;
  font-family: Museo;
}
.popular__el__info {
  margin-bottom: 30px;
  color: #111;
  line-height: 1.6;
}
.popular__el-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
}
.popular__el__price {
  color: #3e51ab;
  font-weight: 700;
  margin-right: 20px;
}
.popular__el__get {
  padding: 5px 20px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  font-size: 12px;
  background: #631b71;
  margin-left: auto;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.popular__el__get:hover {
  cursor: pointer;
}
.popular__el__get span {
  display: inline-block;
  margin-right: 5px;
  font-weight: 700;
}
.popular__el__get .icon {
  width: 18px;
  height: 18px;
  fill: #fff;
}
.popular {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.popular__el-title {
  margin-bottom: 10px;
}
.star-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.star-row .icon {
  width: 12px;
  height: 12px;
  margin-right: 5px;
  fill: #631b71;
}
.header-small {
  background: #f9f9f9;
}
.header-small-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.header-small-el {
  font-size: 12px;
  margin-right: 30px;
  padding: 5px 0;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
}
.header-small-el:hover {
  cursor: pointer;
}
.header-small-el:hover {
  color: #111;
}
.cat__el {
  padding: 40px 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  margin-left: -1px;
  background: #f9f9f9;
  margin-top: -1px;
  position: relative;
}
.cat__el:hover {
  cursor: pointer;
}
.cat__el:hover {
  -webkit-box-shadow: 0px 8px 10px #c7c3c3;
          box-shadow: 0px 8px 10px #c7c3c3;
  background: #3e51ab;
  -webkit-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
/*.cat__el-sub
			display: block*/
}
.cat__el:hover .cat__el__code {
  color: #fff;
}
.cat__el:hover .cat__el__title {
  color: #fff;
  opacity: 0.5;
}
.cat__el:hover .icon {
  fill: #fff;
}
.cat__el:hover .cat__el-title {
  color: #fff;
  opacity: 0.5;
}
.cat__el--active {
  -webkit-box-shadow: 0px 8px 10px #c7c3c3;
          box-shadow: 0px 8px 10px #c7c3c3;
  background: #3e51ab;
}
.cat__el--active .cat__el__code {
  color: #fff;
}
.cat__el--active .cat__el__title {
  color: #fff;
  opacity: 0.5;
}
.cat__el--active .icon {
  fill: #fff;
}
.cat__el--active .cat__el-title {
  color: #fff;
  opacity: 0.5;
}
.cat__el__code {
  color: #3e51ab;
  font-weight: 700;
  margin-bottom: 10px;
}
.cat__el__title {
  font-size: 14px;
  color: #b6b6b6;
  line-height: 1.6;
}
.cat__el__info {
  margin-bottom: 80px;
  color: #111;
  line-height: 1.6;
}
.cat__el-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
}
.cat__el__get {
  padding: 5px 20px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  font-size: 12px;
  background: #631b71;
  margin-left: auto;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.cat__el__get:hover {
  cursor: pointer;
}
.cat__el__get span {
  display: inline-block;
  margin-right: 5px;
  font-weight: 700;
}
.cat__el__get .icon {
  width: 18px;
  height: 18px;
  fill: #fff;
}
.cat {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.cat__el-title {
  font-size: 12px;
  margin-bottom: 20px;
  font-family: Museo;
  color: rgba(62,81,171,0.8);
}
.cat__el-icon {
  position: absolute;
  top: 30px;
  right: 30px;
}
.cat__el-icon .icon {
  width: 10px;
  height: 10px;
  fill: #acacac;
}
.cat__el-sub-item {
  margin-bottom: 10px;
  font-size: 12px;
  -webkit-transition: color 0.4s;
          transition: color 0.4s;
  position: relative;
  padding-left: 5px;
}
.cat__el-sub-item:before {
  content: '';
  width: 3px;
  height: 3px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #596cc3;
  left: -4px;
  position: absolute;
  top: 6px;
}
.cat__el-sub-item:hover {
  color: #3e51ab;
}
.cat__el-sub {
  position: absolute;
  top: 100%;
  background: #fff;
  z-index: 5;
  left: 0px;
  padding: 30px;
  display: none;
  border: 1px solid #3e51ab;
  -webkit-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
}
.section--extend {
  padding: 60px 0;
}
.section--white {
  background: #fff;
}
.about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about-info {
  width: 45%;
}
.about-info__title {
  font-family: Museo;
  margin-bottom: 30px;
  color: #111;
  font-weight: 700;
}
.about-company {
  width: 50%;
  position: relative;
}
.about-company img {
  z-index: 2;
  position: relative;
}
.about-company-round {
  position: absolute;
  width: 500px;
  height: 500px;
  background: #f2f2f2;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  left: -webkit-calc(50% - 200px);
  left: calc(50% - 200px);
  top: -webkit-calc(50% - 250px);
  top: calc(50% - 250px);
  z-index: 1;
}
.advant-img {
  width: 50%;
}
.advant {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.advant-list {
  width: 45%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.advant-list__el {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.advant-list__el-title {
  margin-bottom: 10px;
  color: #3e51ab;
}
.advant-list__el-icon {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  -webkit-box-shadow: 0 1px 10px #d5d4d4;
          box-shadow: 0 1px 10px #d5d4d4;
}
.advant-list__el-icon .icon {
  width: 40px;
  height: 40px;
  fill: #3e51ab;
}
.advant-list__el-text {
  max-width: 300px;
  line-height: 1.6;
  color: #979797;
}
.command-el {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  padding: 20px 10px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}
.command-el:hover {
  cursor: pointer;
}
.command-el:hover {
  -webkit-box-shadow: 0 1px 10px #d5d4d4;
          box-shadow: 0 1px 10px #d5d4d4;
}
.command-el__img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-position: center top;
}
.command-el__content {
  padding: 20px;
  width: -webkit-calc(100% - 120px);
  width: calc(100% - 120px);
}
.command-el__title {
  margin-bottom: 10px;
  font-weight: 700;
  color: #3e51ab;
}
.command-el__staff {
  font-family: Museo;
  margin-bottom: 20px;
}
.command-el__text {
  line-height: 1.6;
  font-size: 12px;
}
.slick-slide {
  margin: 0 10px;
}
.command-list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}
.news-img {
  width: 50%;
}
.news {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.news-list {
  width: 48%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.news-list__el {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.news-list__el-title {
  font-weight: 700;
  margin-bottom: 10px;
  color: #3e51ab;
}
.news-list__el-content {
  width: -webkit-calc(80% - 200px);
  width: calc(80% - 200px);
  line-height: 1.6;
  color: #979797;
  -webkit-box-shadow: 0 1px 10px #d5d4d4;
          box-shadow: 0 1px 10px #d5d4d4;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 20px 20px 20px 40px;
  background: #fff;
}
.news-list__el-date {
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  background: #631b71;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: -20px;
  margin-top: -20px;
  z-index: 2;
}
.news-list__el-date-val {
  font-weight: bold;
  margin-bottom: -5px;
  color: #fff;
}
.news-list__el-date-day {
  text-align: center;
  color: #fff;
  opacity: 0.8;
}
.section-title--blue {
  color: #3e51ab;
  border-bottom: 1px solid rgba(62,81,171,0.071);
}
.section--category {
  margin-top: 30px;
}
.section--category .section-title {
  text-align: center;
}
.shrink {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  -webkit-animation: slideInDown 1s 1 ease-in-out;
          animation: slideInDown 1s 1 ease-in-out;
  z-index: 10;
}
.shrink .header-nav__el {
  padding: 10px 20px;
}
.content__main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}
.toolbar {
  width: 25%;
}
.toolbar__el {
  -webkit-border-radius: 10px;
          border-radius: 10px;
  margin-bottom: 30px;
  background: #fff;
  -webkit-box-shadow: 0 5px 10px #f1f1f1;
          box-shadow: 0 5px 10px #f1f1f1;
}
.content__info {
  width: 73%;
}
.content__info-wrap {
  padding: 30px;
  background: #fff;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}
.toolbar__title {
  padding: 15px;
  font-weight: bold;
  color: #111;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.toolbar__title .icon {
  width: 20px;
  height: 20px;
  fill: #3e51ab;
  margin-right: 10px;
}
.toolbar__list-el {
  border-bottom: 1px solid rgba(62,81,171,0.059);
  line-height: 1.4;
  padding: 10px 15px;
  font-family: Museo;
  font-size: 12px;
  font-weight: 700;
  color: #111;
/*&:last-child
		border-bottom 0*/
}
.content__info-title {
  color: #111;
  margin-bottom: 30px;
}
.content--gray {
  background: #f9f9f9;
}
.toolbar__list-more {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3e51ab;
  font-weight: bold;
  padding: 15px;
}
.toolbar__list-more:hover {
  cursor: pointer;
}
.toolbar__list-more .icon {
  width: 12px;
  height: 12px;
  fill: #3e51ab;
  margin-right: 10px;
}
.panel {
  background: #fff;
  -webkit-box-shadow: 0 5px 10px #f1f1f1;
          box-shadow: 0 5px 10px #f1f1f1;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.panel__day {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 0 40px;
  border-right: 1px solid #dfdfdf;
}
.panel__info {
  margin-right: 10px;
}
.panel__day-val {
  color: #111;
}
.panel__price {
  padding: 0 20px;
  border-right: 1px solid #dfdfdf;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}
.panel__price-val {
  color: #111;
}
.panel__date {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.panel__get {
  margin-left: auto;
  background: #56955a;
  padding: 25px 40px;
  font-weight: bold;
  color: #fff;
  font-family: Museo;
  text-transform: uppercase;
  -webkit-border-radius: 0px 40px 40px 0;
          border-radius: 0px 40px 40px 0;
}
.nice-select {
  -webkit-border-radius: 25px !important;
          border-radius: 25px !important;
  display: block;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  height: auto;
  line-height: auto;
  z-index: 3;
  padding-left: 20px !important;
  padding-right: 35px !important;
  border: 1px solid rgba(62,81,171,0.06);
}
.nice-select .list {
  width: -webkit-calc(100%);
  width: calc(100%);
  left: 0px;
  -webkit-border-radius: 0;
          border-radius: 0;
  border: 0px solid rgba(62,81,171,0.05);
  border-top: 0;
  margin-top: 0;
}
.nice-select .list li {
  font-size: 14px;
}
select.select-beauty {
  display: none !important;
}
.element-select {
  padding: 20px 0;
}
.nice-select:active,
.nice-select.open,
.nice-select:focus {
  border: 1px solid #dfdfdf;
}
.nice-select.open {
  -webkit-border-radius: 25px 25px 0 0 !important;
          border-radius: 25px 25px 0 0 !important;
  border: 1px solid rgba(68,68,68,0.11) !important;
  border-bottom: 0;
}
.nice-select.open .list {
  margin-top: 1px;
  -webkit-border-radius: 0 0 25px 25px !important;
          border-radius: 0 0 25px 25px !important;
}
.tab {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 20px;
}
.tab__el {
  padding: 0 20px 20px 20px;
  text-transform: uppercase;
  text-align: center;
}
.tab__el:hover {
  cursor: pointer;
}
.tab__el:hover {
  font-weight: 700;
}
.tab__el--active {
  border-bottom: 2px solid #3e51ab;
  font-weight: 700;
  margin-bottom: -1px;
  color: #3e51ab;
}
.content__info-wrap {
  margin-bottom: 20px;
}
.tab-content {
  display: none;
}
.tab-content--active {
  display: block !important;
}
.course-treners {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.course-treners__el {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.course-treners__img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0 5px 10px #f1f1f1;
          box-shadow: 0 5px 10px #f1f1f1;
  width: 90px;
  height: 90px;
  background-position: top center;
  margin-right: 20px;
}
.course-treners__content {
  background-color: #fff;
  padding: 20px;
  width: -webkit-calc(100% - 110px);
  width: calc(100% - 110px);
  position: relative;
}
.course-treners__content:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent #fff transparent transparent;
  position: absolute;
  left: -20px;
  top: 0;
}
.course-treners__name {
  font-weight: bold;
  font-family: Museo;
  color: #3e51ab;
  margin-bottom: 5px;
}
.course-treners__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}
.course-treners__info-text {
  margin-right: 20px;
  color: #979797;
}
.course-treners__info-val {
  font-weight: 700;
}
.course-treners__staf {
  margin-bottom: 10px;
  color: #979797;
}
.content__info-wrap--empty {
  background: none;
  padding-right: 0;
}
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
