include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content.content--gray
		.content-filter
		.main-cont
			.content__main
				.content__info
					.content__info-wrap.content__info-wrap--read
						.news-date 31.08.2018
						h1 Повышение удовлетворенности клиентов обновленной серией стандартов ISO
						p Мы все знаем, что сохранение лояльных, счастливых клиентов является ключом к любому успешному бизнесу, но непостоянному потребительскому миру не всегда легко угодить. Только что был опубликован ряд руководящих принципов, объединяющих передовой международный опыт в области удовлетворения потребностей клиентов.

						p От обработки жалоб до обслуживания с улыбкой, забота о клиентах является наукой сама по себе, и ее не следует воспринимать легкомысленно, поскольку это может иметь драматическое влияние как на моральный дух сотрудников, так и на прибыль. Многочисленные исследования показывают, что те компании, которые хорошо работают в сфере обслуживания клиентов, имеют более высокие доходы и отдачу от инвестиций. Не говоря уже о том, что большинство клиентов не возвращаются в компанию, если у них плохой опыт.

						p Только что был обновлен ряд международных стандартов, направленных на повышение удовлетворенности клиентов, чтобы обеспечить наиболее актуальную информацию и отражение изменений в флагманском стандарте ISO по качеству, ISO 9001.

						p Стэн Карапетрович, Руководитель рабочей группы, которая пересмотрела стандарты, сказал, что они направляют организации по пути внедрения эффективных систем для повышения удовлетворенности клиентов.

						p «Эти руководящие принципы были пересмотрены одновременно, приведя их в соответствие как с ISO 9001, так и друг с другом» - сказал он.
						ul
							li ISO 10001 Управление качеством. Удовлетворенность клиентов. Руководящие принципы для кодексов поведения для организаций;
							li ISO 10002 Управление качеством. Удовлетворенность клиентов. Руководство по обработке жалоб в организациях
							li ISO 10003 Управление качеством. Удовлетворенность клиентов. Руководящие принципы разрешения споров вне организаций
							li ISO 10004 Управление качеством. Удовлетворенность клиентов. Руководство по мониторингу и измерению

						table
							thead
								tr
									td Lorem ipsum.
									td Lorem ipsum.
									td Lorem ipsum.
									td Lorem ipsum.
							tbody
								- for (var i=0;i<10;i++)
									tr
										td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, minus!
										td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, incidunt.
										td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, velit?
										td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, ullam?

					.content__info-wrap--empty
						.content-title  Новости
						.news-grid
							- for (var i=0;i<10;i++)
								a(href="#").news-grid__el
									.news-grid__el-date 31.08.2018
									.news-grid__el-title Повышение удовлетворенности клиентов обновленной серией стандартов ISO
									.news-grid__el-text Мы все знаем, что сохранение лояльных, счастливых клиентов является ключом к любому успешному бизнесу, но непостоянному потребительскому миру не всегда легко угодить.
				+toolbar()
	+footer()
include ./block_html/_script.pug
