include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content.content--gray
		.content-filter
		.main-cont
			.content__main
				.content__info
					.content__info-wrap.content__info-wrap--near
						.staff
							.staff__img
								.staff__img-el(style="background-image:url('img/staff.png')")

							.staff__content
								h1.staff__title Михаил Грибов
								.staff__position Управляющий партнёр
								.staff-param
									.staff__row
										.staff__row-name Грейд IT Expert
										.staff__row-val ITIL Expert
									.staff__row
										.staff__row-name Обученных слушателей
										.staff__row-val 500
									.staff__row
										.staff__row-name Оценка слушателей
										.staff__row-val 9.8/10
									.staff__row
										.staff__row-name Проектный опыт(лет)
										.staff__row-val 10
								.staff__about
									p Управляющий партнёр группы компаний IT Expert, внес вклад в развитие управления ИТ услугами в банковской, энергетической и нефтегазовой отрасли успешно внедряя лучшие мировые практики и стандарты (ITIL, USMBOK, Lean, CMMI, MOF, BSC, Risk Management, Information security, BCM, COBIT).
									p Закончил МГТУ им. Баумана со степенью магистр, получил дополнительное образование в академии народного хозяйства и государственной службы при Президенте Российской Федерации.
									p Профессиональную карьеру начал в начале 2000-х г.с проектирования, разработки и внедрения территориально-распределенных систем информационной безопасности, непрерывности и доступности в телекоммуникационном секторе.
									p В IT Expert возглавляет и принимает активное участие в проектах по стратегическому и операционному консалтингу, реализовал более 30 проектов для крупнейших организаций РФ и СНГ, в их числе Банк России, РусГидро,  Центр Управления Полетами.
									p Является сертифицированным тренером и разработчиком программ обучения по внутреннему аудиту и организации систем внутреннего контроля в области информационных технологий, в том числе первого в России официального курса от ISACA и IT Governance Institute.
									p Профессиональный опыт подкреплен международными сертификатами в области ИТ-управления (ITIL Expert), бизнес-аналитики (BA license) и управления проектами (PMI).
						.staff-cert
							.content-title Полученные сертификаты
							.staff-cert__wrap
								a(href="img/cert-1.jpg" data-fancybox="images").staff-cert__el.fancybox ITIL® Foundation Certificate in IT Service Management
								a(href="img/cert-1.jpg" data-fancybox="images").staff-cert__el.fancybox ITIL® Service Offerings and Agreements Certificate
								a(href="img/cert-1.jpg" data-fancybox="images").staff-cert__el.fancybox ITIL® Operational Support and Analysis Certificate
								a(href="img/cert-1.jpg" data-fancybox="images").staff-cert__el.fancybox ITIL® Planning, Protection and Optimization Certificate
								a(href="img/cert-1.jpg" data-fancybox="images").staff-cert__el.fancybox ITIL® Release, Control and Validation Certificate
								a(href="img/cert-1.jpg" data-fancybox="images").staff-cert__el.fancybox ITIL® Managing Across the Lifecycle Certificate

					.content__info-wrap--empty
						.content-title Дополнительные сертификаты

						.slider-wrap
							.slider-control.slider-control--left
								+icon("arrow-left","icon")
							.slider-control.slider-control--right
								+icon("arrow-right","icon")
							.staff-cert__slider.slider-item
								- for (var i=0;i<12;i++)
									a(href="img/cert-1.jpg" data-fancybox="images").staff-cert__slider-el.fancybox
										img(src="img/cert-1.jpg", alt="")

					.content__info-wrap--empty
						.content-title  Наша комманда
						.command
							.command-list.command-list--simple
								- for (var i=0;i<8;i++)
									.command-el
										.command-el__img(style="background-image:url('img/staff.png')")
										.command-el__content
											.command-el__title Михаил Грибов
											.command-el__staff Управляющий партнер
											.command-el__text Внес вклад в развитие управления ИТ услугами в банковской, энергетической и нефтегазовой отрасли успешно внедряя лучшие мировые практики и стандарты (ITIL v3 2011, USMBOK, Lean, ...
				+toolbar()


	+footer()
include ./block_html/_script.pug
