mixin footer()
	//block footer
	//.footer-slider__wrap
		.main-cont
			.footer-slider
				- for (var i=0;i<4;i++)
					.footer-slider__el
						img(src="img/class-photo-4.jpg", alt="")
	.footer
		.footer__head
			.main-cont
				.footer__head-wrap
					.footer__list
						-
							var items = [
								'Курсы ITIL',
								'Новости',
								'О компании',
								'Авторские курсы',
								'Библиотека',
								'Проекты',
								'Интервью/Статьи',
								'Отзывы',
								'Симуляционные игры',
								'Экзамены',
								'Акции',
								'Контакты'
								];
						each item in items
							a(href="#").footer__list-el #{item}
					.footer__info
						a(href="tel:+7(495)981-57-10").footer__phone +7(495)981-57-10
						a(href="mailto:info@itexpert.ru").footer__mail E-mail:info@itexpert.ru
						.footer__adress Адрес:г. Москва, ул. Каланчевская 15 офис 402
						.footer__soc
							a(href="#").footer__soc-el
								+icon("soc-facebook","icon")
							a(href="#").footer__soc-el
								+icon("soc-twitter","icon")
							a(href="#").footer__soc-el
								+icon("soc-vk","icon")
							a(href="#").footer__soc-el
								+icon("soc-youtube","icon")
		.footer__bottom
			.footer__bottom-text ITIL® и PRINCE2® — зарегистрированные торговые марки компании AXELOS Limited. <br> Swirl logo™ — торговая марка компании AXELOS Limited.	© 2002–2018 IT Expert

		//modals
		.modal-layer
			.modal-cont
				.modal-filter
				.modal-wrap
					.modal(data-modal="order")
						.modal-content.modal-content--order
							.modal-close
								+icon("close","icon")
							.modal-back.modal-get(data-modal="choose")
								+icon("arrow-left","icon")
								span Назад
							.modal-title Остался всего один шаг

							form.validate-form(action="javascript:void(null);")
								.input-row
									input(type="text" name="name" placeholder="Ваше имя").input
								.input-row
									input(type="text" name="phone" placeholder="Ваш телефон").input
								.input-row
									textarea(name="info", cols="30", rows="5" placeholder="Сообщение").input
								.agree-row
									.check-el
										label.style-label.style-label--checkbox
											input(type="checkbox" name="agree").sytle-input
											.sytle-input-element
												+icon("checked","icon-check")
											.sytle-input-text=text
									.agree-row__text Согласен с
										a(href="#") условиями обработки персональных данных
								input(type="submit" value="Отправить заявку").modal-send
								.modal-cost
									.modal-cost__text цена заказа:
									.modal-cost__val
										span
										| р
					//success message
					.modal(data-modal="truemessage")
						.modal-content.modal-content--true
							+icon("interface","icon")
							.modal-text-true Ваша заявка принята
					.modal(data-modal="choose")
						.modal-content.modal-content--choose
							.modal-close
								+icon("close","icon")
							.modal-title Выберите способ оплаты
							.choose-row.modal-get(data-modal="order")
								.choose-row__icon
									+icon("credit-card--color","icon")
								.choose-row__info
									.choose-row__cost
										.choose-row__cost-val
											span 17500
											| р
									.choose-row__title При оплате картой
							.choose-row.modal-get(data-modal="order")
								.choose-row__icon
									+icon("debt--color","icon")
								.choose-row__info
									.choose-row__cost
										.choose-row__cost-val
											span 19500
											| р
									.choose-row__title При оплате по счету



	//block footer end