-
	pages = [
		{
			'name':'Элементы',
			'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
			'name':'Курсы',
			'href':'item'
		},
		{
			'name':'Расписание',
			'href':'schedule'
		}
	]

