-
	pages = [
		{
			'name':'Элементы',
			'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
			'name':'Курсы',
			'href':'item'
		},
		{
			'name':'Расписание',
			'href':'schedule'
		},
		{
			'name':'Комманда подробно',
			'href':'staff'
		},
		{
			'name':'Комманда список',
			'href':'staff-list'
		},
		{
		'name':'Новости подробная',
		'href':'news'
		},
		{
		'name':'Новости список',
		'href':'news-list'
		},
		{
		'name':'Акции',
		'href':'sale'
		},
		{
			'name':'Контакты',
			'href':'adress'
		}
	]

